# DATABASE
DATABASE_DRIVER="sqlite3"
DATABASE_DSN="./database/app.db"
DATABASE_MIGRATIONS_DIR="./database/migrations"

# CORS
CORS_TRUSTED_ORIGINS="example.com,site.example.comm"

# JWT
# Used to sign access tokens (HMAC algorythm). Can be generated with "go run cmd/cli jwt:generate-secret".
JWT_SECRET="RVj16kddDWj7J2e8mnXKDNq/MbCP27+DgAKYanruT0M="
# Time in seconds JWT will stay valid after being issued. Must be a positive integer.
JWT_TTL="600"

# SERVER
# Address (host:port) the server will listen to. Examples: "127.0.0.1:80", "example.com", "sub.example.com"
SERVER_ADDRESS="127.0.0.1:8000"
# Maximum numbers of requests per seconds handled by the server.
SERVER_RATE_LIMIT="100"

# GOOSE
# See Goose configuration in it's dedicated documentation
GOOSE_DRIVER=${DATABASE_DRIVER}
GOOSE_DBSTRING=${DATABASE_DSN}
GOOSE_MIGRATION_DIR=${DATABASE_MIGRATIONS_DIR}
GOOSE_TABLE="goose_migrations"
